apiVersion: v1
kind: Service
metadata:
  name: "{{ template "imgproxy.fullname" $ }}"
  labels:
    app: {{ .Release.Name | quote }}
    chart: {{ template "imgproxy.chart" $ }}
    heritage: {{ .Release.Service | quote }}
    imgproxy: "true"
    release: {{ .Release.Name | quote }}
    {{- range $key, $val := ($.Values.resources.common.labels | default dict) }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
{{- with .Values.resources.service }}
  {{- if .annotations }}
  annotations: {{ .annotations | toYaml | nindent 4 }}
  {{- end }}
spec:
  type: {{ .type | default "ClusterIP" | quote }}
  {{- if eq .type "LoadBalancer" }}
  loadBalancerIP: {{ .loadBalancerIP | default "" | quote }}
  {{- if .loadBalancerSourceRanges }}
  loadBalancerSourceRanges: {{ .loadBalancerSourceRanges | toYaml | nindent 4 }}
  {{- end }}
  {{- if .externalTrafficPolicy }}
  externalTrafficPolicy: {{ .externalTrafficPolicy | quote }}
  {{- end }}
  {{- else if eq .type "NodePort" }}
  {{- if .externalTrafficPolicy }}
  externalTrafficPolicy: {{ .externalTrafficPolicy | quote }}
  {{- end }}
  {{- end }}
  selector:
    app: "{{ template "imgproxy.fullname" $ }}"
  ports:
    - name: http
      port: {{ .port | default 80 }}
      protocol: TCP
      targetPort: 8080
      {{- if eq .type "NodePort" }}
      nodePort: {{ .nodePort | default "" }}
      {{- end }}
    {{- with $.Values.env }}
    {{- if .IMGPROXY_PROMETHEUS_BIND }}
    - name: metrics
      port: {{ mustRegexSplit ":" .IMGPROXY_PROMETHEUS_BIND -1 | mustLast | int }}
      protocol: TCP
      targetPort: 8081
    {{- end }}
    {{- end }}
{{- end }}
